.aboutdiv {
<<<<<<< HEAD
  background-color: #e7efb5;
  color: black;
=======
  background-color: #EBFFC9;
  color: #424739;
>>>>>>> 2cbf9e6 (Добавлены изменения из zip-архива)
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
<<<<<<< HEAD

  width: auto;
  align-self: center;

  border-radius: 20px;

  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  justify-content: center;
  justify-self: center;

  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: 30%;

  box-shadow: 3px 3px 10px gray;
=======
  width: auto;
  align-self: center;
  border-radius: 20px;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 100px;
  justify-content: center;
  justify-self: center;
  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: 30%;
>>>>>>> 2cbf9e6 (Добавлены изменения из zip-архива)
}

.aboutdiv h3 {
  font-weight: bold;
}

.aboutdiv .image {
  display: inline-block;
<<<<<<< HEAD

  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 20px;

  box-shadow: 3px 3px 10px gray;
=======
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px gray;
  max-width: 100%; /* Ограничиваем максимальную ширину */
  height: auto; /* Автоматическая высота для сохранения пропорций */
>>>>>>> 2cbf9e6 (Добавлены изменения из zip-архива)
}

.aboutdiv .text {
  display: inline-block;
  width: fit-content;
  margin-bottom: 1rem;
}
<<<<<<< HEAD
=======

/* Добавляем медиазапрос для лучшей адаптивности */
@media (max-width: 768px) {
  .aboutdiv {
    margin-left: 5%; /* Уменьшаем отступы для меньших экранов */
    margin-right: 5%;
  }
}
>>>>>>> 2cbf9e6 (Добавлены изменения из zip-архива)
