.main_div {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoT {
  background-color: #ebffc9;
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
  margin-bottom: 50px;
}
.infoT p {
  font-weight: normal;
}

.items_div {
  justify-content: left;
  gap: 20px;
}

.btn {
  background-color: white;
  color: #afca0b;
  border-radius: 30px;
  border-width: 0;
  width: 10rem;
  height: 2.5rem;
  box-shadow: 3px 3px 10px gray;
  cursor: pointer;

  margin-left: 10px;
  margin-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: x-large;
}
