div.cart_div {
  background-color: #e7efb5;
  color: black;
  font-family: "Roboto", sans-serif;
  width: auto;
  align-self: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;

  /* padding: 0.5rem; */

  justify-content: center;
  justify-self: center;
  align-items: start;
  display: flex;
  box-shadow: 3px 3px 10px gray;
}
@media only screen and (max-width: 1175px) {
  div.cart_div {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 600px) {
  div.cart_div {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 523px) {
  div.cart_div {
    margin-left: 2%;
    margin-right: 2%;
  }
}
