div.cart_div {
  background-color: #e7efb5;
  color: black;
  font-family: "Roboto", sans-serif;
  width: auto;
  align-self: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20;

  padding: 0.5rem;

  justify-content: center;
  justify-self: center;
  display: flex;
  box-shadow: 3px 3px 10px gray;
}
