.header {
     /* Change the color to match the image */
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #a1c233; /* Adjust this color if necessary */
    width: 40%;
    justify-content: center;
  }
  
  .icon {
    display: inline-block;
    margin: 2% 5%;

  }
  
  .icon img {
    width: 150%; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    border: solid 2px black;
    border-radius: 50%;
    margin-left: -25%;
    padding: 5px;

  }
  